.flex{display: flex;}
.flex-align-center{display: flex; align-items: center;}
.flex-align-justify-center{display: flex; align-items: center; justify-content: center;}
.flex-align-start-justify-center{display: flex; align-items: flex-start; justify-content: center;}